---
import { getCollection } from "astro:content";
import { Picture, Image } from "astro:assets";
import AboutUsImage from "@assets/home/about_us.webp";
import MissionImage from "@assets/about/mission.webp";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/home/sectionhead.astro";

const aboutMe = `บริษัท เอส.ซี. พลาสติก โปรดักส์ จำกัด ก่อตั้งขึ้นเมื่อวันที่ 10 เมษายน
          พ.ศ. 2540 สำนักงานตั้งอยู่ที่ เลขที่ 6 เฉลิมพระเกียรติ ร.9 ซอย 48 แยก
          11 แขวง ดอกไม้ เขต ประเวศ กรุงเทพมหานคร 10250 ทีมงานมีความรู้
          ความเชี่ยวชาญด้านสิ่งแวดล้อม
          จากประสบการณ์ที่ผ่านมาทางบริษัทได้มีการพัฒนากระบวนการผลิตสินค้าตลอดมา
          เพื่อผลิตและจำหน่ายสินค้าประเภทตัวกลางพลาสติก
          ที่ใช้งานสำหรับในระบบบำบัดน้ำเสีย, ระบบบำบัดอากาศ, ระบบผลิตน้ำดี และ
          ดักไอน้ำ อาทิเช่น Cross flow &amp; Random Media (Pall Ring, Heilex),
          Drift Eliminator, Fin Filter และ Tube Settler
          นอกจากนั้นยังมีรับขึ้นรูปพลาสติกบรรจุภัณฑ์/รับทำแม่พิมพ์ขึ้นรูปพลาสติกและบริษัทมีให้คำปรึกษาสำหรับผลิตภัณฑ์ด้านสิ่งแวดล้อม`

const missions = [
  {
    header: 'Sustainable Responsibility',
    content: 'ดำเนินธุรกิจเติบโตอย่างยั่งยืนด้วยความรักผิดชอบต่อสังคมและชุมชน'
  },
  {
    header: 'Customer Satisfaction',
    content: 'บริการ สร้างความพึงพอใจสูงสุดกับลูกค้า'
  },
  {
    header: 'Products Quality',
    content: 'ผลิตสินค้าที่มีคุณภาพ และเป็นมิตรกับสิ่งแวดล้อม'
  },
  {
    header: 'Participation Partner',
    content: 'เป็นพันธมิตรกับคู่ค้า ดำเนินธุรกิจและเติบโตร่วมกัน'
  }
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">เกี่ยวกับเรา</Fragment>
    </Sectionhead>

    <div class="container">
      <div class="grid grid-cols-1 gap-4 mt-16">
        <p class="text-lg indent-8">
          { aboutMe }
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mt-16">
        <div class="flex justify-center items-center">
          <Image src={AboutUsImage} alt="logo_address" height={375} class="rounded-lg" />
        </div>
        <div class="flex justify-center items-center flex-col">
          <h3 class="text-4xl">Vision วิสัยทัศน์</h3>
          <div class="flex items-center justify-center gap-4 mt-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="0.88em"
              height="1em"
              viewBox="0 0 448 512">
              <path
                fill="currentColor"
                d="m223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34m-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34"
              ></path>
            </svg>
            <p class="text-2xl text-center">
              เราคือผู้ผลิตและจำหน่ายพลาสติกมีเดียที่มีคุณภาพ <br /> มาตรฐานสากล
              เป็นมิตรกับสิ่งแวดล้อม ตอบสนอง <br
              />sความต้องการของลูกค้าอย่างมืออาชีพ
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="0.88em"
              height="1em"
              viewBox="0 0 448 512"
              class="rotate-180">
              <path
                fill="currentColor"
                d="m223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34m-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-16 my-16">
        <div class="order-2 md:order-1">
          <h3 class="text-4xl text-center">Mission พันธกิจ</h3>
          <div class="grid gap-2 mt-4">
          {
            missions.map((mission) => (
            mission?.header && <p class="header text-2xl"><span class="font-bold text-red-500">{ mission.header[0] }</span><span>{ mission.header.slice(1) }</span></p>
              <p class="content indent-8 text-xl">{ mission.content } </p>
            ))
          }
          </div>
          
        </div>
        <div class="order-1 md:order-2 flex justify-center items-center">
          <Image src={MissionImage} alt="mission" height={375} class="rounded-lg" />
        </div>
      </div>
    </div>
  </Container>
</Layout>
