---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import lineQRCode from "@assets/line_qr_optimize.jpg";
import lineIcon from "@assets/line.png";
import SocialGroup from "@components/socialGroup.astro";
const contactList = await getCollection("contact");
const currentLocale = Astro.currentLocale;

const contactLocaleData = contactList.find((page) => {
  const [lang, ...slug] = page.id.split("/");
  return lang === currentLocale ? page : null;
});
---
<footer class="pt-12 lg:pt-16 border-t border-t-primary-950 bg-primary-900">
  <div class="">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div
        class="mb-16 grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4 lg:gap-8">
        <div class="">
          <!-- logo - start -->
          <div class="mb-4 lg:-mt-2">
            <a
              href="/"
              class="inline-flex items-center gap-2 text-xl font-bold text-white md:text-2xl"
              aria-label="logo">
              <svg
                width="95"
                height="94"
                viewBox="0 0 95 94"
                class="h-auto w-5 text-indigo-500"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M96 0V47L48 94H0V47L48 0H96Z"></path>
              </svg>

              ติดต่อเรา
            </a>
          </div>
          <!-- logo - end -->
          <p class="mb-6 text-gray-200 sm:pr-8">
            {contactLocaleData?.data.address}
          </p>
          <SocialGroup />
        </div>

        <!-- nav - start -->
        <div>
          <!-- <div class="mb-4 font-bold uppercase tracking-widest text-gray-800">
            Products
          </div> -->

          <nav class="flex flex-col gap-4">
            <!-- <div>
              <a
                href="#"
                class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
                >Overview</a
              >
            </div> -->
          </nav>
        </div>
        <!-- nav - end -->
        <div>
          <Image src={lineQRCode} alt={"https://line.me/ti/p/0ivf_qmCuf"} />
        </div>
        <div id="fb-page">
          <div class="fb-page" data-href="https://www.facebook.com/SCmediaproducts" data-tabs="timeline" data-width="" data-height="260" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-lazy="false"><blockquote cite="https://www.facebook.com/SCmediaproducts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SCmediaproducts">SC media products</a></blockquote></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-8 text-center text-sm text-white bg-primary-950">
    Copyright © {new Date().getFullYear()}
    {Astro.site}. All rights reserved.
  </div>
</footer>


<script>
  function loadFacebookSDK() {
  const script = document.createElement('script');
  script.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0';
  script.async = true;
  script.defer = true;
  
  document.body.appendChild(script);
  
  script.addEventListener("load", ()=> {
    FB.XFBML.parse();
  });
}

function handleIntersection(entries, observer) {
  console.log(entries)
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      loadFacebookSDK();
      observer.unobserve(entry.target);
    }
  });
}

function initFacebookSocialPlugin() {
  const options = {
    root: null,
    rootMargin: '0px',
    threshold: 0.1
  };

  const observer = new IntersectionObserver(handleIntersection, options);
  const facebookPageTarget = document.querySelector('#fb-page');
  
  if (facebookPageTarget) {
    observer.observe(facebookPageTarget);
  }
}

initFacebookSocialPlugin()
</script>
