---
import Link from "@components/ui/link.astro";
import { Image } from "astro:assets";
import Image1 from "@assets/project/pal_ring_media.jpg";
import Image2 from "@assets/project/tube_settler.jpg";
import Image3 from "@assets/project/cross_flow_media_fin_filter.jpg";
const wording1 = `ตัวอย่างผลงาน ที่ลูกค้าไว้วางใจบริการ S.C. PLASTIC PRODUCTS`;

const projectList = [
  {
    image: Image1,
    title: "Pal Ring Media",
  },
  {
    image: Image2,
    title: "Tube Settler",
  },
  {
    image: Image3,
    title: "Cross Flow Media & Fin Filter",
  },
];
---

<section class="py-40 bg-white bg-gradient-to-b from-white to-primary-300">
  <div class="max-w-screen-xl px-4 mx-auto lg:px-6">
    <div class="mb-8 text-center lg:mb-16">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">
        {wording1}
      </h2>
    </div>
    <div
      class="grid justify-center grid-cols-1 gap-8 overflow-hidden lg:grid-cols-3 lg:gap-0 lg:rounded-3xl lg:shadow-lg">
      {
        projectList.map((item, i) => (
          <div
            class:list={["project", `project-${i + 1}`]}
            class="overflow-hidden group">
            <a href="/project">
              <Image
                src={item.image}
                alt={item.title}
                class="w-full lg:rounded-none rounded-2xl group-hover:scale-[1.1] transition-transform duration-300"
                width={500}
                height={375}
                loading={"lazy"}
              />
            </a>
          </div>
        ))
      }
    </div>
    <div class="mt-6 text-center">
      <Link href="/project" size="md" style="outline">ดูเพิ่มเติม</Link>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  let t1 = gsap.timeline({
    scrollTrigger: {
      trigger: ".project",
      start: "-50% center",
      end: "200% center",
    },
  });

  t1.from(".project-1", { x: -20, opacity: 0.5, duration: 0.3 }).to(
    ".project-1",
    { x: 0, opacity: 1, duration: 0 }
  );
  t1.from(".project-2", { y: 20, opacity: 0.5, duration: 0.3 }).to(
    ".project-2",
    { y: 0, opacity: 1, duration: 0 }
  );
  t1.from(".project-3", { x: 20, opacity: 0.5, duration: 0.3 }).to(
    ".project-3",
    { x: 0, opacity: 1, duration: 0 }
  );
</script>
