---
import Link from "@components/ui/link.astro";
import { Image } from "astro:assets";
import Image1 from "@assets/project/pal_ring_media.jpg";
import Image2 from "@assets/project/tube_settler.jpg";
import Image3 from "@assets/project/cross_flow_media_fin_filter.jpg";
import Button from "@components/ui/button.astro";
const wording1 = `ตัวอย่างผลงาน ที่ลูกค้าไว้วางใจบริการ S.C. PLASTIC PRODUCTS`;
const wording2 = `เราคือผู้ผลิตและจำหน่ายพลาสติกมีเดียที่มีคุณภาพ ผลิตและจำหน่ายสินค้าประเภทตัวกลางพลาสติก 
ที่ใช้งานสำหรับในระบบบำบัดน้ำเสีย, ระบบบำบัดอากาศ, ระบบผลิตน้ำดี และ ดักไอน้ำ รวมทั้งรับขึ้นรูปพลาสติกบรรจุภัณฑ์/รับทำแม่พิมพ์ขึ้นรูปพลาสติกและให้คำปรึกษาสำหรับผลิตภัณฑ์ด้านสิ่งแวดล้อม`;

const projectList = [
  {
    image: Image1,
    title: "Pal Ring Media",
  },
  {
    image: Image2,
    title: "Tube Settler",
  },
  {
    image: Image3,
    title: "Cross Flow Media & Fin Filter",
  },
];
---

<section class="bg-white bg-gradient-to-b from-white to-primary-300 py-12">
  <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
    <div class="text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        {wording1}
      </h2>
    </div>
    <div
      class="grid lg:grid-cols-3 grid-cols-1 justify-center lg:gap-0 gap-8 lg:rounded-3xl overflow-hidden lg:shadow-lg">
      {
        projectList.map((item, i) => (
          <div class:list={["project", `project-${i + 1}`]} class="group overflow-hidden">
            <a href="/project">
              <Image
                src={item.image}
                alt={item.title}
                class="w-full lg:rounded-none rounded-2xl group-hover:scale-[1.1] transition-transform duration-300"
                width={500}
                height={375}
                loading={"lazy"}
              />
            </a>
          </div>
        ))
      }
    </div>
    <div class="text-center mt-6">
      <Link href="/project" size="md" style="outline">ดูเพิ่มเติม</Link>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  let t1 = gsap.timeline(
    {
      scrollTrigger: {
      trigger: ".project",
      start: "-50% center",
      end: "200% center",
    },
    }
  )

  t1.from(".project-1", {x: -20, opacity: 0.5, duration: 0.3}).to(".project-1", {x:0 , opacity: 1, duration: 0})
  t1.from(".project-2", {y: 20, opacity: 0.5, duration: 0.3}).to(".project-2", {y: 0, opacity: 1, duration: 0})
  t1.from(".project-3", {x: 20, opacity: 0.5, duration: 0.3}).to(".project-3", {x: 0, opacity: 1, duration: 0})
</script>
