---
const facbookUrl = "https://www.facebook.com/SCmediaproducts";
const instagramUrl = "https://www.instagram.com/scmedia_products";
const lineUrl = "https://line.me/ti/p/0ivf_qmCuf";
---

<!-- social - start -->
<div class="flex gap-4">
    <a
      href={facbookUrl}
      target="_blank"
      class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        >
        <title>Facebook</title>
        <path
          fill="currentColor"
          d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
        ></path></svg
      >
    </a>
    <a
      href={instagramUrl}
      target="_blank"
      class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
      <svg
        class="h-5 w-5"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <title>Instagram</title>
        <path
          d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
        ></path>
      </svg>
    </a>
    <a
      href={lineUrl}
      target="_blank"
      class="text-gray-400 transition duration-100 hover:text-green-500 active:text-gray-600">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" width="24" height="24" viewBox="0 0 24 24">
        <title>LINE</title>
        <g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 3c5.344 0 10 3.643 10 8.5c0 2.457-1.336 4.58-3.199 6.29c-1.867 1.715-4.359 3.11-6.93 4.139a1.096 1.096 0 0 1-1.397-.541c-.104-.219-.13-.453-.137-.69l-.004-.535a3 3 0 0 0-.012-.176c-.034-.349-.126-.57-.493-.635C5.548 18.606 2 15.74 2 11.5C2 6.643 6.656 3 12 3m2 6a1 1 0 0 0-1 1v.238l-.732-.878A1 1 0 0 0 10.5 10v3a1 1 0 0 0 2 0v-.238l.732.878A1 1 0 0 0 15 13v-3a1 1 0 0 0-1-1M6 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1a1 1 0 1 0 0-2v-2a1 1 0 0 0-1-1m3 0a1 1 0 0 0-.993.883L8 10v3a1 1 0 0 0 1.993.117L10 13v-3a1 1 0 0 0-1-1m9 0h-1.5a1 1 0 0 0-.993.883L15.5 10v3a1 1 0 0 0 .883.993L16.5 14H18a1 1 0 0 0 .117-1.993L18 12h-.134a1 1 0 0 0 .057-.885L17.866 11H18a1 1 0 0 0 .117-1.993z"/></g></svg>
    </a>
  </div>
  <!-- social - end -->